.navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 80px;
  justify-content: space-around;
  height: 10vh;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.description {
  margin: 0px 5px;
}
.text1 {
  width: 48px;
  height: 14px;
  left: 229px;
  top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 143.19%;
  letter-spacing: 0.065em;
  color: rgba(0, 0, 0, 0.6);
}
.text2 {
  width: 48px;
  height: 12px;
  left: 229px;
  top: 43px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.015em;
  color: rgba(38, 50, 56, 0.8);
}
.text3 {
  width: 48px;
  height: 12px;
  left: 229px;
  top: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.05em;
  color: #263238;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
  flex: 1;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex: 9;
  justify-content: space-around;
  align-items: center;
  margin: 0px 40px;
}
.item {
  width: 68px;
  height: 21px;
  left: 385px;
  top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(31, 46, 53, 0.8);
}
.item:hover {
  cursor: pointer;
}
.dropDown {
  display: flex;
  flex-direction: column;
}
.dropDownItem {
  display: flex;
  flex-direction: row;
  width: 68px;
  height: 21px;
  left: 385px;
  top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(31, 46, 53, 0.8);
}
.dropDownItemMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: rgba(31, 46, 53, 0.8);
}

.chevron {
  margin: 0px 5px;
}
.popup {
  margin: 10px;
  margin-top: 0px;
  padding-top: 30px;
  position: absolute;
  background-color: transparent;
  display: none;
}
.dropDown:hover > .popup {
  display: unset;
}
.div {
  padding: 10px;
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.home {
  margin: 0px 5px;
}
.mail {
  margin: 0px 5px;
}
.shuffle {
  margin: 0px 5px;
}
.menuButton {
  display: none;
}
.menuItems {
  display: none;
}
.menuItem {
  display: none;
}
.xmark {
  width: 3vw;
  height: 3vh;
}
. @media (max-width: 1100px) {
  .menu {
    display: none;
  }
  .navBar {
    display: flex;
    flex-direction: row;
    margin: 0vh 2vw;
    justify-content: space-between;
  }
  .menuButton {
    display: unset;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menuItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
  .menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    color: rgba(31, 46, 53, 0.8);
  }
  .contactItemMenu {
    display: flex;
    justify-content: space-between;
    margin: 0vh 30vw;
  }
  .dropDownItemMenu {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    color: rgba(31, 46, 53, 0.8);
  }
}
